body {
    background: cornsilk;
}

.jumbotron {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
}

.jumbotron h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.jumbotron h4 {
    font-size: 24px;
}

.card-header {
    color: darkslateblue;
    font-weight: bold;
}

th {
    margin-bottom: 10px;
}

label {
    margin-bottom: 10px;
}

.card {
    margin-bottom: 50px;
}

#add-train-btn {
    background: darkslateblue;
    color: cornsilk;
}

#add-train-btn:active {
    background: cornsilk;
    color: darkslateblue;
}


/* Media Query */
/* 980px */
@media only screen and (max-width: 980px) {

}

/* 768px */
@media only screen and (max-width: 768px) {
    
}

/* 640px */
@media only screen and (max-width: 640px) {
    
}