body {
    font-family: Arial, Helvetica, sans-serif;
    background: cornsilk;
}

.jumbotron {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
    background: darkslateblue;
    color: cornsilk;
}

.jumbotron h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.jumbotron h4 {
    font-size: 24px;
}

.card-header {
    background: darkslateblue;
    color: cornsilk;
    font-weight: bolder;
}

th {
    margin-bottom: 10px;
    background: rgba(211, 211, 211, 0.633);
    color: darkslateblue;
    font-weight: 600;
}

tr {
    color: darkslateblue;
}

label {
    margin-bottom: 10px;
}

.card {
    margin-bottom: 30px;
    color: darkslateblue;
}

#train-name-input,
#destination-input,
#first-train-input,
#frequency-input {
    color: darkslateblue;
}

#train-name-input:focus,
#destination-input:focus,
#first-train-input:focus,
#frequency-input:focus {
    background: rgba(211, 211, 211, 0.482);
    border: 2px solid darkslateblue;
}

#add-train-btn {
    background: darkslateblue;
    color: cornsilk;
}

#add-train-btn:active {
    background: cornsilk;
    color: darkslateblue;
}


/* Media Query */
/* 980px */
@media only screen and (max-width: 980px) {

}

/* 768px */
@media only screen and (max-width: 768px) {
    
}

/* 640px */
@media only screen and (max-width: 640px) {
    
}